@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #222222;
}

li,a,button {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.Logo {
    cursor: pointer;
    order: 3;
    margin-right: auto;
}

.links_to_the_stars {
list-style:none;
}

.links_to_the_stars li {
display: inline-block;
padding: 0px 20px;
}

.links_to_the_stars li a {
    transition: all 0.3s ease 0s;
}

.links_to_the_stars li a:hover {
    color: #0088a9;
}

button {
    margin: 20px;
padding: 9px 25px ;
background-color:rgba(0,136,169,1);
border: none;
border-radius: 50px;
cursor:pointer;
transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(100,100,100,100);
}